<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
    <title>edit</title>
</head>
<body>
<blockquote class=layui-elem-quote>物品信息</blockquote>
<form class="layui-form" th:action="@{/admin/edit/update}" method="post">
<!--    <div class="layui-form-item">-->
<!--        <a class="layui-btn layui-btn-xs" href="/imgUploadInit" style="height: 30px;width:80px; ">上传商品图片</a>-->
<!--    </div>-->
    <div class="layui-form-item">
        <label class="layui-form-label">物品序号</label>
        <div class="layui-input-inline">
            <input type="text" th:value="${session.product.getP_Id()}"  name="p_Id" readonly lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
<div class="layui-form-item">
    <label class="layui-form-label">物品编号</label>
    <div class="layui-input-inline">
        <input type="text" th:value="${session.product.getP_Id()}"  name="p_Id" readonly lay-verify="required" autocomplete="off" class="layui-input">
    </div>
</div>
    <div class="layui-form-item">
        <label class="layui-form-label">发布者名</label>
        <div class="layui-input-inline">
            <input type="text" th:value="${session.product.getP_Account()}"  name="p_Account" readonly lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">物品标题</label>
        <div class="layui-input-inline">
            <input type="text" th:value="${session.product.getP_Title()}"  name="p_Title" required  lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">上架时间</label>
        <div class="layui-input-inline">
            <input type="date" th:value="${session.product.getP_Date()}"  name="p_Date"  required autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">物品价格</label>
        <div class="layui-input-inline">
            <input type="text" th:value="${session.product.getP_Price()}"  name="p_Price"  required autocomplete="off" class="layui-input" onkeyup="value=value.replace(/[^\d]/g,'')">
        </div>
    </div>
<div class="layui-form-item">
    <label class="layui-form-label">物品描述</label>
    <div class="layui-input-inline">
        <textarea type="text" th:text="${session.product.getP_Des()}"  name="p_Des"  required  autocomplete="off" class="layui-input">
        </textarea>
    </div>
</div>


    <div class="layui-input-inline login-btn">
        <button  class="layui-btn" id="btn" style="margin-left: 120px">修改</button>
    </div>
</form>
<!--<script th:inline="javascript">-->
<!--    layui.use(['table','form'], function(){-->
<!--        var table = layui.table;-->
<!--        const form = layui.form;-->
<!--        table.on('tool(test)', function(obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"-->
<!--            var data = obj.data; //获得当前行数据-->
<!--            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）-->
<!--            var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）-->
<!--            const $ = layui.$;-->

<!--            if (layEvent === 'imgUpload') { // 上传图片-->
<!--                layer.open({-->
<!--                    type: 2,-->
<!--                    area: ['740px', '375px'],-->
<!--                    // resize: false,-->
<!--                    content: '/imgUploadInit',-->
<!--                    cancel: function (index, layero) {-->
<!--                        tableIns.reload();-->
<!--                    },-->
<!--                    success: function (layero, index) {-->
<!--                        const body = layer.getChildFrame('body', index);-->
<!--                        body.find('#p_Id').val(data.p_Id);-->
<!--                        console.log(data.p_Id);-->
<!--                    }-->
<!--                });-->
<!--                // 监听搜索按钮-->
<!--                var $ = layui.$, active = {-->
<!--                    reload: function(){-->
<!--                        var demoReload = $('#demoReload');-->

<!--                        table.reload('testReload', {-->
<!--                            where: {-->
<!--                                p_Name: demoReload.val()-->
<!--                            }-->
<!--                        });-->
<!--                    }-->
<!--                };-->
<!--                $('.demoTable .layui-btn').on('click', function(){-->
<!--                    var type = $(this).data('type');-->
<!--                    active[type] ? active[type].call(this) : '';-->
<!--                });-->

<!--                table.on('toolbar(test)', function(obj){-->
<!--                    const $=layui.$;-->
<!--                    var checkStatus = table.checkStatus(obj.config.id);-->
<!--                    switch(obj.event){-->
<!--                        case 'add':-->
<!--                            var count=0;-->
<!--                            layer.open({-->
<!--                                type: 2,-->
<!--                                content: '/admin/addinit',-->
<!--                                area: ['600px', '600px'],-->
<!--                                title: false,-->
<!--                                success: function(layero, index){-->
<!--                                    if(count==0) {-->
<!--                                        layer.msg("请添加信息");-->
<!--                                        count++;-->
<!--                                    }-->
<!--                                    else{-->
<!--                                        layer.msg("添加成功");-->
<!--                                        tableIns.reload();-->
<!--                                    }-->
<!--                                }-->
<!--                            });-->
<!--                            break;-->
<!--                    };-->
<!--                });-->
<!--                //第一个实例-->
<!--                var tableIns = table.render({-->
<!--                    elem: '#demo'-->
<!--                    ,url: '/admin/productInfo' //数据接口-->
<!--                    ,toolbar: false-->
<!--                    , page: true-->
<!--                    ,limit:10-->
<!--                    ,limits:[10,30,50]-->
<!--                    , id: 'testReload'-->
<!--                    ,response: {-->
<!--                        statusCode: 200 //规定成功的状态码，默认：0-->
<!--                    }-->
<!--                    ,cols: [[ //表头-->
<!--                        {field: 'p_Id', title: '物品编号', sort: true}-->
<!--                        ,{field: 'p_href', title: '物品图片', templet: "<div><img  src=\"{{ d.p_href }}\" ></div>"}-->
<!--                        ,{field: 'p_Account', title: '用户账号',sort: true}-->
<!--                        // ,{field: 'p_Name', title: '物品名称'}-->
<!--                        ,{field: 'c_Name', title: '物品类别'}-->
<!--                        ,{field: 'p_Title', title: '物品标题'}-->
<!--                        ,{field: 'p_Price', title: '价格',sort: true}-->
<!--                        ,{field: 'imgLoad',title:'图片操作',toolbar: "#imgBar"}-->
<!--                        ,{title: '操作', toolbar: '#barDemo'}-->
<!--                    ]]-->
<!--                });-->
<!--            });-->
<!--        -->

<!--</script>-->
<script th:src="@{/layui/layui.all.js}"></script>
</body>
</html>