<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
    <title>edit</title>
</head>
<body>
<blockquote class=layui-elem-quote>物品信息</blockquote>
<form class="layui-form" th:action="@{/admin/edit/update}" method="post">
<div class="layui-form-item">
    <label class="layui-form-label">物品编号</label>
    <div class="layui-input-inline">
        <input type="text" th:value="${session.product.getP_Id()}"  name="p_Id" readonly lay-verify="required" autocomplete="off" class="layui-input">
    </div>
</div>
    <div class="layui-form-item">
        <label class="layui-form-label">用户名</label>
        <div class="layui-input-inline">
            <input type="text" th:value="${session.product.getP_Account()}"  name="p_Account" readonly lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">物品名称</label>
        <div class="layui-input-inline">
            <input type="text" th:value="${session.product.getP_Name()}"  name="p_Name" required autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">物品标题</label>
        <div class="layui-input-inline">
            <input type="text" th:value="${session.product.getP_Title()}"  name="p_Title" required  lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">上架时间</label>
        <div class="layui-input-inline">
            <input type="date" th:value="${session.product.getP_Date()}"  name="p_Date"  required autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">物品价格</label>
        <div class="layui-input-inline">
            <input type="text" th:value="${session.product.getP_Price()}"  name="p_Price"  required autocomplete="off" class="layui-input" onkeyup="value=value.replace(/[^\d]/g,'')">
        </div>
    </div>
<div class="layui-form-item">
    <label class="layui-form-label">物品描述</label>
    <div class="layui-input-inline">
        <textarea type="text" th:text="${session.product.getP_Des()}"  name="p_Des"  required  autocomplete="off" class="layui-input">
        </textarea>
    </div>
</div>
    <div class="layui-input-inline login-btn">
        <button  class="layui-btn" id="btn" style="margin-left: 120px">修改</button>
    </div>
</form>
<script th:src="@{/layui/layui.all.js}"></script>
</body>
</html>