<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>登入</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/layui/css/login.css}">
</head>
<body background="/images/background.jpg" style="background-repeat: no-repeat;background-size:100% 100%;background-attachment:fixed" background="/images/background.jpg">
<div class="login-main">
    <div style="background-color: rgba(0,0,0,0);opacity: 0.8">
    <header class="layui-elip" style="color: white;margin-bottom: 5px">登录</header>
    <div class="layui-form"style="text-align: center;margin-bottom: 5px">
        <p th:text="${session.msg}" style="color: #ff0000"></p>
    </div>
    <form class="layui-form" th:action="@{user/login}" method="post">
        <div class="layui-input-inline">
            <label>
                <input type="text" id="account" name="u_Account" lay-verify=“required" placeholder="用户名" class="layui-input">
            </label>
        </div>
        <div class="layui-input-inline">
            <label>
                <input type="password" id="password" name="u_Password" required  placeholder="密码" class="layui-input">
            </label>
        </div>
        <div class="layui-input-inline">
            <input id="checkCode" name="checkCode" type="text"
                   placeholder="验证码" autocomplete="off"  required="required"
                   class="layui-input" data-parsley-required-message="请输入验证码！"/>
        </div>
        <div class="layui-input-inline" style="cursor: pointer" >
            <img src="/code" alt="验证码" title="点击更换" onclick="this.src='/code?'+Math.random()"/>
        </div>
        <div class="layui-input-inline login-btn">
            <button class="layui-btn">登录</button>
        </div>
        <p ><a href="/regists/init" class="fl" style="color: white">立即注册</a><a href="/repwd/init" class="fr" style="color:white;">忘记密码？</a></p>
    </form>
    </div>
</div>


<script th:src="@{/layui/layui.js}"></script>
</body>
</html>