<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>忘记密码</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/layui/css/login.css}">
</head>
<body style="background-repeat: no-repeat;background-size:100% 100%;background-attachment:fixed" background="/images/background.jpg">
<div class="login-main">
    <div style="background-color: rgba(0,0,0,0);opacity: 0.8">
    <header class="layui-elip" style="color: white">用户验证</header>
    <div class="layui-form-item">
        <form class="layui-form" autocomplete="off">
            <div class="layui-input-inline">
                <label>
                    <input type="text"  name="u_Account"  placeholder="用户名" class="layui-input" lay-verify=“required">
                </label>
            </div>
            <div class="layui-input-inline">
                <label>
                    <input type="email"  name="u_Email" lay-verify=“required|email"  placeholder="电子邮箱" class="layui-input">
                </label>
            </div>
            <div class="layui-input-inline login-btn">
                <button lay-submit lay-filter="check" class="layui-btn">验证</button>
            </div>
        </form>
    </div>
    </div>
</div>
<script th:src="@{/layui/layui.all.js}"></script>
<script>
    const form = layui.form;
    const layer = layui.layer;
    const $ = layui.$;
    var $flag=false;
    layui.use(['form','layer'], function(){
        form.render();
        form.on('submit(check)', function(data){
            const field = data.field;
            console.log(field);
            $.ajax({
                url: 'check',
                type: 'POST',
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify(field),
                success:function (res){
                    console.log(res.code)
                    if(res.code === 200){
                        console.log(res.code)
                        layer.msg('验证成功');
                        $flag=true;
                    }else if(res.code === 500){
                        layer.msg('验证失败');
                    }
                },
                error: function (res){
                    layer.msg('Http错误！');
                }
            });
            window.setTimeout("go()",1500);
            return false;
        });

    });

    function go(){
        if($flag)
            window.location.href = '/repwd/success';
        else
            window.location.href = '/repwd/init';
    }
</script>
</body>
</html>