<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>用户管理</title>
    <link rel="stylesheet" type="text/css" href="assets/layui4.css">
    <link rel="stylesheet" th:href="@{/layui/css/layui4.css}"/>
</head>
<body class="layui-layout-body" >
<div class="layui-layout layui-layout-admin ">
    <div class="layui-header" style="background-color: #FFC107" >
        <img src="../assets/img/后台管理.png"style="width: 1700px;height: 79px">
        <ul class="layui-nav layui-layout-right " style="background-color:  #FFC107" >
            <li class="layui-nav-item" >
                <a href="javascript:" style="font-weight:bolder;color: #0C0C0C">
                    <img th:src= "${userHead.getU_Url()}" style="width: 50px;height: 50px;position:relative;top: 10px" class="layui-nav-img">

                </a>
<!--                <dl class="layui-nav-child">-->
<!--                    <dd><a href="/admin/userInfo" style="font-weight:bolder;color: #0C0C0C">基本资料</a></dd>-->
<!--                </dl>-->
            </li>
            <li class="layui-nav-item"><a href="/admin/quit" style="font-weight:bolder;color: white;font-size: 18px;position: relative;top: 10px">退出</a></li>
        </ul>
    </div>

    <div class="layui-side " >
        <div class="layui-side-scroll " style="background-color: #EEEEEE">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree "  lay-filter="test">
                <li>&nbsp;</li>
                <li class="layui-nav-item" style="background-color: #eeeeee "><a th:if="${session.u_Account eq 'admin'}" href="/admin/userinit" style="color: #0C0C0C">用户管理</a></li>
                <li class="layui-nav-item" style="background-color: #EEEEEE"><a href="/admin/init" style="color: #0C0C0C">商品管理</a></li>
<!--                <li class="layui-nav-item" style="background-color: #EEEEEE"><a href="/admin/shoppingCarInit"style="color: #0C0C0C">购物车管理</a></li>-->
<!--                <li class="layui-nav-item" style="background-color: #EEEEEE">-->
<!--                    <a href="javascript:" style="color: #0C0C0C">订单管理</a>-->
<!--                    <dl class="layui-nav-child">-->
<!--                        <dd><a th:href="@{/admin/BuyOrderInit}" >我是买家</a></dd>-->
<!--                        <dd><a th:href="@{/admin/SellOrderInit}" >我是卖家</a></dd>-->
<!--                    </dl>-->
<!--                </li>-->
                <li class="layui-nav-item" style="background-color: #EEEEEE"><a th:href="@{/admin/BuyOrderInit}" style="color: #0C0C0C">订单管理</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <table id="demo" lay-filter="test"></table>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © xmu-secondhandmarket
    </div>
</div>
<script th:src="@{/layui/layui.js}"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });
</script>
<script>
    layui.use('table', function(){
        var table = layui.table;
        table.on('tool(test)', function(obj){
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）
            const $=layui.$;
            if(layEvent === 'detail'){ //查看
                layer.confirm('确认查看', function(index){
                    $.ajax({
                        url: '/admin/detail/user',
                        type: 'POST',
                        data:{u_Account:data.u_Account},
                        success:function (res){
                            if(res.code===200) {
                                tableIns.reload();
                                layer.open({
                                    type: 2,
                                    content: '/admin/detailuser',
                                    title:false,
                                    area: ['500px', '400px'],
                                    success: function(layero, index){
                                        layer.msg('正在查看用户:'+data.u_Account+'的信息');
                                    }
                                });
                            }
                            else
                                layer.msg('查看失败');
                        }
                        ,error(error){
                            layer.msg(error);
                        }
                    });
                    layer.close(index);
                });
            } else if(layEvent === 'del'){ //删除
                layer.confirm('确认删除？', function(index){
                    $.ajax({
                        url: '/admin/userdelete',
                        type: 'POST',
                        data:{u_Account:data.u_Account},
                        success:function (res){
                            if(res.code===200) {
                                tableIns.reload();
                                layer.msg('删除成功');
                            }
                            else
                                layer.msg('删除失败');
                        }
                        ,error(error){
                            layer.msg(error);
                        }
                    });
                    layer.close(index);
                });
            } else if (layEvent === 'edit') { //编辑
                layer.confirm('确认编辑？', function(index){
                    var count=0;
                    $.ajax({
                        url: '/admin/user/edit',
                        type: 'POST',
                        data:{u_Account:data.u_Account},
                        success:function (res){
                            if(res.code===200) {
                                layer.open({
                                    type: 2,
                                    content: '/admin/useredit',
                                    title:false,
                                    area: ['500px', '600px'],
                                    success: function(layero, index){
                                        if(count==0) {
                                            count++;
                                            layer.msg('正在修改用户为:' + data.u_Account + '的信息');
                                        }
                                        else {
                                            layer.msg("更新成功");
                                            tableIns.reload();
                                        }
                                    }
                                });
                            }
                            else
                                layer.msg('查看失败');
                        }
                        ,error(error){
                            layer.msg(error);
                        }
                    });
                    layer.close(index);
                });
            } else if(layEvent === 'LAYTABLE_TIPS'){
                layer.alert('Hi，头部工具栏扩展的右侧图标。');
            }
        });
        table.on('toolbar(test)', function(obj){
            const $=layui.$;
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'add':
                    var count=0;
                    layer.open({
                        type: 2,
                        content: '/admin/useraddinit',
                        area: ['600px', '600px'],
                        title: false,
                        success: function(layero, index){
                            if(count==0) {
                                layer.msg("请添加信息");
                                count++;
                            }
                            else{
                                layer.msg("添加成功");
                                tableIns.reload();
                            }
                        }
                    });
                    break;
            };
        });
        // function go(){
        //     layui.use('layer', function(){
        //         var layer = layui.layer;
        //         layer.open({
        //             title: false,
        //             type:2,
        //             area: ['500px', '500px'],
        //             content:"/admin/userhead",
        //         });
        //     });
        // }
        //第一个实例
        var tableIns = table.render({
            elem: '#demo'
            ,url: '/admin/userdata'
            ,toolbar: '#toolbarDemo'
            , page: true
            ,limit:10
            ,limits:[10,30,50]
            ,response: {
                statusCode: 200
            }
            ,cols: [[ //表头
                {field: 'u_Account', title: '账号', sort: true, fixed: 'left'}
                ,{field: 'u_Name', title: '姓名',sort: true}
                ,{field: 'u_Sex', title: '性别'}
                ,{field: 'u_Email', title: '电子邮箱'}
                ,{field: 'u_Phone', title: '手机号码',sort: true}
                ,{fixed: 'right', title: '操作',width:175, align:'center', toolbar: '#barDemo'}
            ]]
        });
    });
</script>
<script th:if="${session.u_Account} ne 'admin'">
    layui.use('layer', function(){
        var layer = layui.layer;
        layer.msg('权限不足，请联系管理员给予权限');
    });
</script>
<script type="text/html" id="barDemo" th:if="${session.u_Account} eq 'admin'">

    <a class="layui-btn layui-btn-xs" lay-event="edit" style="background-color: #e72d2d;color: white">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" style="background-color: #F38D1E;color: white">删除</a>
</script>

<script type="text/html" id="toolbarDemo" th:if="${session.u_Account} eq 'admin'">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-xs" lay-event="add" style="background-color: #e72d2d;color: white;height: 35px;width: 150px;font-size: 14px">添加用户</button>
    </div>
</script>
</body>
</html>